@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');
:root {
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    /* background gradient colors */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsla(242, 41%, 47%, 0.992);
    /* text colors */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /* Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}
